<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/cayman.css">
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
    });
  </script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML-full"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function(){
      var d = document.getElementById('Список-литературы');
      if(!d) return;
      d = d.nextElementSibling.children;
      var r = [];
      for (var x = 0; x < d.length; x++) {
        r[x] = d[x].textContent;
      }
      //.map(function(e){ return e;});
	  console.log(r);
    
    });
  </script>
</head>
