<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/cayman.css">
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
    });
  </script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML-full"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function(){
      var d = document.getElementById('Список-литературы');
      if(!d) return;
      d = d.nextElementSibling.children;
      var r = [];
      for (var x = 0; x < d.length; x++) {
        d[x].id = 'r' + (x + 1);
        r[x] = d[x].textContent;
      }
      
      var ps = document.getElementsByTagName('p');
      for (var x = 0; x < d.length; x++) {
        var s = ps[x].innerHTML, s1 = s.replace(/ \((\d+)\)/g, ' <a href="#e$1">($1)</a>');
        var a = s1.split('['), l = a.length;
        if (l <= 1) {
          if (s !== s1) ps[x].innerHTML = s1;
          continue;
        }
        for (var y = 1; y < l; y++) {
          var m = a[y].match(/^([\d, -]+)\]/);
          if(!m) continue;
          var refs = m[1].split(',').map(function(i){
            return i.split('-').map(function(i){
              v = parseInt(i.trim());
              if (!v || v > r.length) return i;
              return '<a href="#r' + v + '" title="' + r[v - 1] + '">' + i.trim() + '</a>';            
            }).join('&ndash;');
          }).join(', ');
          a[y] = a[y].replace(/^[\d, -]+\]/, refs + ']');
        }
        //var rp = s.replace(/\[(\d+)\]/g, '<a href="#r$1">[$1]</a>');
        ps[x].innerHTML = a.join('[');// rp;
      }
      
      var content = document.getElementsByClassName('main-content')[0].children;
      var cl = document.createElement('div');
      var stack = [document.createElement('ul'), null, null, null];
      function addItem(h, id, text) {
        var li = document.createElement('li'), a = document.createElement('a');
        li.appendChild(a);
        if (h === 1) {
          a.title = text;
          a.innerText = 'Содержание';
        } else a.innerText = text;
        if (id) a.href = '#' + id;
        if (stack[h]) {
          stack[h].parentElement.appendChild(li);
        } else {
          if (!stack[h - 1]) addItem(h - 1, null, '???');
          if (h === 1) stack[0].appendChild(li);
          else {
            var ul = document.createElement('ul');
            stack[h - 1].appendChild(ul);
            ul.appendChild(li);
          }
        }
        stack[h] = li;
        while (++h < 3) stack[h] = null;
      }
      for(var x = 0; x < content.length; x++) switch(content[x].tagName) {
        case 'H1': addItem(1, content[x].id, content[x].innerText); break;
        case 'H2': addItem(2, content[x].id, content[x].innerText); break;
        case 'H3': addItem(3, content[x].id, content[x].innerText); break;
      }
      cl.className = 'contents-list';
      cl.appendChild(stack[0]);
      document.body.appendChild(cl);
    });
  </script>
</head>
